<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    @RenderSection("Title",required: false)
</head>
<body>
    <div>@RenderBody()</div>
    <script src="~/js/jquery.min.js"></script> 
    <script src="~/js/wow.min.js"></script> 
    <script src="~/js/bootstrap.min.js"></script> 
    <script src="~/js/slick.min.js"></script> 
    <script src="~/js/custom.js"></script>
</body>
</html>